<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Activar Cámara</title>
    <link rel="stylesheet" href="estilos.css">
</head>

<div class="container">
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <!-- Agrega más divs con la clase "burbuja" según la cantidad de burbujas que desees -->
  </div>
  

<body> 

    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@3.12.0/dist/tf.min.js"></script>
    <h1>Lenguaje de señas</h1>
    <video id="video" width="400" height="400" autoplay></video>
    <button class="button" id="startButton">Iniciar Cámara</button>
    <button  class="button" id="stopButton">Detener Cámara</button>

    <script>
        
    </script>
 <script src="./scripts.js "></script>   
</body>

</html>
